/*Navigation*/
#nav{
  width: 100%; 
  border: 2px solid navy;
  background-color: navy;
  overflow: auto;
}

#nav a{
  float: left;
  color: white;
  font-size: 25px;
  text-decoration: none;
  width: 33%;
  text-align: center;
  padding: 12px 0px;
}

#nav a:hover{
  background-color: white;
  color: black 
}

#nav a.active {
  text-decoration: underline;
}

/*HOME*/
h1 {
  text-align: center;
  font-size: 75px;
  font-family: 'Sacramento', cursive;
  color: goldenrod;
}

body{
  background-color: #fff28f
}

#title{
  background-image: url("https://cf.ltkcdn.net/teens/images/orig/240195-1600x1030-graduation-from-middle-school.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

h1:hover{
  color: white;
}

h2 {
  font-family: 'Roboto', sans-serif;
}

/*Password*/
button{
  display: block;
  text-align: center;
  margin: auto;
  margin-top: 250px
}

/*Memories*/
/*.flex-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: column;
  border: 2px solid black;
}*/

.flex-row{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
}

.pic{
  width: 100%;
}

.info {
  width: 33%;
  margin: auto;
}

.description{
  font-family: 'Nunito', sans-serif;
}

.name{
  display: block;
  font-family: 'Amatic SC', cursive;
  font-size: 500px;
}
